body {
	background: url(../img/bg.jpg);
}

.header {
	margin-top: 2em;
}

.nav {
	margin-bottom: 0px;
}

.nav > li > a {
	font-size: 20px;
	font-family: 'Lobster', serif;
}

.nav-tabs {
	margin-top: 5px;
	border-bottom: none;
}

.nav > li > a {
	-webkit-transition: color 1s;
	-moz-transition: color 1s;
	-o-transition: color 1s;
	-ms-transition: color 1s;
	transition: color 1s;
}

.nav > li > a:hover {
	background-color: transparent;
	border-color: transparent;

	-webkit-transition: color 1s;
	-moz-transition: color 1s;
	-o-transition: color 1s;
	-ms-transition: color 1s;
	transition: color 1s;
}

.twitter {
	margin: 0px 10px;
	border-radius: 10px;
	font-size: 20px;
	line-height: 30px;
	color: white;
	background-color: #000;
	opacity: 0.3;
}

.twitter .twitter_img {
	padding-left: 2em;
}